<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/get-create-user"> Create User</a>
    </div>
    <div class="form-add-new">

        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group">
                    <label>Are you sure to delete user with Email: </label>
                    <input type="text" id="emailId" name="email" value="<%= user.email %>" />
                    <input type="hidden" name="id" value="<%= user.id %>" />
                </div>
                <div>
                    <button class="btn">Confirm</button>
                    <a class="delete-back" href="/">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>